body {
    margin: 0;
}

.header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
}

.main {
    padding-top: 20px;
    margin-top: 30px;
    height: 1500px;
    /* Used in this example to enable scrolling */
}

.label {
    padding: 5px;
    background: aliceblue;
    color: black;
    vertical-align: middle;
}

input[type=number] {
    width: 50px;
    padding: 0px;
    border: none;
    height: 26px;
    vertical-align: middle;

}

.board {
    display: inline-block;
    float: left;
}

.tiles {
    display: inline-block;
    float: right;
}


.addbutton {
    float: left;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;
    */
    font-size: 16px;
}

.rmbutton {
    float: right;
    cursor: pointer;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    float: right;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li {
    width: 120px;
    display: block;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
}

.active {
    background-color: #4CAF50;
    color: white;
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 15px;
    text-align: center;
}
